@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xc1n8l');
  src:  url('fonts/icomoon.eot?xc1n8l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xc1n8l') format('truetype'),
    url('fonts/icomoon.woff?xc1n8l') format('woff'),
    url('fonts/icomoon.svg?xc1n8l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e900";
}
.icon-dibudaohanglan:before {
  content: "\e901";
}
.icon-dingdan:before {
  content: "\e902";
}
.icon-dingdan1:before {
  content: "\e903";
}
.icon-duigouxiao:before {
  content: "\e904";
}
.icon-fenxiang:before {
  content: "\e905";
}
.icon-geren:before {
  content: "\e906";
}
.icon-geren1:before {
  content: "\e907";
}
.icon-gouwuche:before {
  content: "\e908";
}
.icon-guanbijiantou:before {
  content: "\e909";
}
.icon-huiyuan-01:before {
  content: "\e90a";
}
.icon-jiantou:before {
  content: "\e90b";
}
.icon-qunfengweinituijian:before {
  content: "\e90c";
}
.icon-Remove:before {
  content: "\e90d";
}
.icon-search_light:before {
  content: "\e90e";
}
.icon-sousuo:before {
  content: "\e90f";
}
.icon-tianjia:before {
  content: "\e910";
}
.icon-U:before {
  content: "\e911";
}
.icon-weibiaoti2fuzhi07:before {
  content: "\e912";
}
.icon-xiajiantou:before {
  content: "\e913";
}
.icon-xiangshangjiantou:before {
  content: "\e914";
}
.icon-xiangyoujiantou:before {
  content: "\e915";
}
.icon-yly_jifenshangcheng:before {
  content: "\e916";
}
